/*FILTERS*/
	.filterMenu{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	.filterMenu select{
		border: none;
		background: none;
		vertical-align: top;
	}
	.filterMenu select:focus,
	.filterMenu select:hover,
	.filterMenu select:active{
		outline: none;
	}
	.filterMenu select,
	.filterMenu option{
		color: var(--color_blue);
	}	
/*LIST CONTENT*/
	.blockContent{
		display: flex;
		justify-content: space-between;
		height: 100px;
		margin-bottom: 30px;
	}
	.infoContent{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	/*date EVENT*/
	.dateContent strong{
		color: var(--color_red);
		vertical-align: top;
		margin-left: 5px;
	}		
/*name EVENT*/
	.nameContent a,
	.nameContent a:visited,
	.nameContent a:active{
		font-weight: bold;
		border-bottom: none;
		color: var(--color_blue)
	}
.descriptionContent{
		font-size: 12px;
	}


/*---DESKTOP---*/
@media (min-width: 1020px) and (max-width: 1450px){
	
/*EVENT SECTION*/
	.eventSection{
		width: 600px;
	}
/*LIST EVENT*/
.eventContent{
	display: flex;
	justify-content: space-between;
	height: 90px;
	margin-bottom: 30px;
}
/*image EVENT*/
.imgContent img{
	width: 150px;
	height: 100px;
}
/*RIGHT SECTION*/
.otherChapters{
	width: 250px;	

}
footer{
margin-top: 20px;
border-top: 3px solid var(--color_blue);
}	
}

/*---TABLET---*/
@media (min-width: 640px) and (max-width: 1020px){

}

/*---MOBILE---*/
@media (min-width: 320px) and (max-width: 640px){
/*image EVENT*/
.imgContent img{
	width: 120px;
	height: 80px;
}
}

	
