/*hover focus active*/
	.bottomContent button{
		border: none;
		background: none;
		border-radius: 20px;
		padding: 0 10px;
	}
	.bottomContent button:hover,
	.bottomContent button:focus{
		outline: none;
		background: var(--bg_lightgrey)
	}
/*checkbox view*/
	.checkboxMenu{
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
	}
	.checkbox{
		display: flex;
		padding: 0;
		align-items: center;
		position:relative;
		padding-left:25px;
		font-size: 14px;
	}
	.checkbox input[type=checkbox] {
		display:none;
	}
	.checkbox label:after {
		content:'';
		display:block;
		height:12px;
		width:12px;
		outline:1px solid #939598;
		position:absolute;
		top:20%;
		right: 85%;
	}
	.checkbox input[type=checkbox]:checked + label:after {
		outline:1px solid #939598;
		border:2px solid #fff;
		width:10px;
		height:10px;
		background-color: var(--grey);
	}
/*fieldset checkbox */
		.filterCheckbox fieldset{
			border: none;
		}
		.filterLevelSport .checkboxMenu{
			justify-content: space-around;
			font-weight: bold;
		}
/*top event content*/	
		.topEventContent{
			display: flex;
			justify-content: space-between;
			letter-spacing: .050em;
		}	
/*location EVENT*/		
		.locationContent strong{
		color: var(--blue);		
		padding: 10px;	
		}		
/*name EVENT*/
		.blockContent .nameContent a,
		.blockContent .nameContent a:visited,
		.blockContent .nameContent a:active{
			font-weight: bold;
			border-bottom: none;
			color: var(--blue);
		}
		.nameContent h2{
			font-size: 18px;
		}
/*bottom event content*/
		.bottomContent svg{
			fill:var(--grey);
			margin-right: 5px;
		}	
		.blockContent .bottomContent .iconItem{
			display: flex;
			align-items: center;
			color: var(--grey);
		}	
		.blockContent .bottomContent span{
			color: var(--grey);		
		}	

/*RIGHT SIDE SECTION*/
.itemSection .contentRightside{
	width: 215px;
}
.itemSection .iconRightside{
	width: 35px;
}
/*modal*/
.dateFilter .modal,
.locFilter .modal,
.categoryFilter .modal{
	display: none;
}

/*---DESKTOP---*/
@media (min-width: 1020px) {
body{
	background: var(--bg_lightgrey);
}
/*FILTERS*/
.filterMenu{
	display: flex;
	justify-content: space-between;
	white-space: nowrap; 
	align-items: center;
	padding: 0 0 20px 0;
}	
.filterBlock{
	background-color: var(--border_grey);
	width: 28%;
	border-radius: 20px;
	padding: 3px 15px;
	text-transform: uppercase;
}
.filterBlock{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filterBlock svg{
	height: 13px;
}
	
/* filters modal*/
		.modal .filterItem{
			padding: 5px 0;
		}
		.filterMenu .modalFilter ul{
			border: none;
			background: none;
		}
		.filterMenu .modalFilter ul:focus,
		.filterMenu .modalFilter ul:hover,
		.filterMenu .modalFilter ul:active{
			outline: none;
		}	
		/*categoryFilter*/
			.categoryFilter .filterContent{
				display: flex;		
			}
			.categoryFilter .filterContent li{
				margin-right: 20px;
			}
		/*locationFilter*/
			.locFilter .filterContent{
				display: flex;		
			}
			.locFilter .filterContent li{
				margin-right: 15px;
			}
		/*dateFilter*/
			.dateFilter .filterItem{
				font-size: 16px;
			}
			.dateFilter .seasonItem{
				padding: 18px;
				display: flex;
				justify-content: space-between;
			}
	.filterGrid{
		display: none;
	}		
/*EVENT SECTION*/	
	.blockContent{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;	
		margin-bottom: 25px;
		border-bottom: 1px solid var(--border_grey);
		background-color: #fff;	
	}	
	.blockContent:hover{
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.123);
		transition: 200ms linear all;
	}
	.infoContent{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 450px;		
		padding: 10px 0 0 15px;
	}
/*top EVENT*/
.dateContent{
	display: flex;
	font-weight: bold;
}
.dateContent strong{
	margin-right: 5px;
}
/*name EVENT*/	
.blockContent .descriptionContent{
	letter-spacing: .050em;
	font-size: 13px;
}
/*bottom EVENT*/
.blockContent hr{
	border:none!important;		
}
.blockContent .bottomContent{
	display: flex;
	justify-content: space-around;
	padding-bottom: 5px;
	}			
	.blockContent .bottomContent svg{
		fill: var(--grey);
	}
/*img EVENT*/
	.blockContent .imgContent{
		background: url("img/logo/SC_logo_vert.png") no-repeat center ;
		background-size: 130px;
		width: 250px;
		height: 140px;
	}
	.imgContent img{
		width: 100%;
		height: 100%;
	}
}

/*---TABLET---*/
@media (min-width: 640px) and (max-width: 1020px){

/*EVENT SECTION*/	
.contentSection{
	margin-right: 40px;
}		
.filterMenu{
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0;
	}
	.filterBlock {
		width: 30%;
		padding: 2px; 
		background-color:var(--border_grey);
		border-radius: 20px;
			white-space: nowrap; 
			align-items: center;
			overflow: hidden;		
			text-overflow: ellipsis;
	}
	.filterBlock svg{
		display: none;
	}
	.filterBlock .nameFilter{
	font-weight: bold;
	}
	.checkboxMenu{
		display: block;
		display: none;
		width: 50%;
		margin: 0 auto;
	}
			.checkbox label:after {
				top:20%;
				left:0;
			}
.filterGrid{
	padding: 5px 10px ;
	display: flex;
	justify-content: space-between;
}
/*LIST CONTENT*/
.listContent{
	background-color: var(--light_grey);
}
	.blockContent{
	display: flex;
	flex-direction: column-reverse;
		margin-bottom: 15px;
		background: #fff;
		border-bottom: 1px solid var(--grey);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.123);
	}
	.infoContent{
		padding: 5px 10px;
	}
/*top content*/
.topEventContent strong,
.topEventContent .dateContent{
	font-weight: normal;
}
.dateContent{
	display: flex;
}
.dateContent strong{
	margin-right: 5px;
}
/*mane content*/
.nameContent h2{
	font-size: 20px;
	font-weight: normal;
}
.nameContent{
	padding: 5px 0;
}
.nameContent h2{
	font-weight: bold;
}
/*bottom content*/
hr{
display: none;
}
.blockContent .bottomContent{
display: flex;
justify-content:space-around;
vertical-align: center;
text-align: center;	
}	

/*image EVENT*/
.imgContent img{
width: 100%;
}	
	
}

/*---MOBILE---*/
@media (min-width: 320px) and (max-width: 640px){
body{
	background: var(--bg_lightgrey);
}
.container{
	font-size: 16px;
}
/*FILTERS*/
		.filterMenu{
		display: flex;
		text-align: center;
		margin: 25px  0 10px 0 ;
		}
		.filterBlock {
			width: 30%;
			padding: 3px; 
			margin: 5px;	
			background-color:var(--border_grey);
			border-radius: 20px;
				white-space: nowrap; 
				align-items: center;
				overflow: hidden;		
				text-overflow: ellipsis;
		}
		.filterBlock svg{
			display: none;
		}
		.filterBlock .nameFilter{
		font-weight: bold;
		}
		.checkboxMenu{	
			margin: 0 5px;
		}

/*checkbox*/
.checkboxMenu{
	display: block;
	display: none;
	width: 50%;
	margin: 0 auto;
}
		.checkbox label:after {
			top:20%;
			left:0;
		}
.filterGrid{
	padding: 5px 10px ;
	display: flex;
	justify-content: space-between;
}
/*LIST CONTENT*/
		.listContent{
			background-color: var(--light_grey);
		}
			.blockContent{
			display: flex;
			flex-direction: column-reverse;
				margin-bottom: 15px;
				background: #fff;
				border-bottom: 1px solid var(--grey);
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.123);
			}
			.infoContent{
				padding: 5px 10px;
			}
/*top content*/
		.topEventContent strong,
		.topEventContent .dateContent{
			font-weight: normal;
		}
		.dateContent{
			display: flex;
		}
		.dateContent strong{
			margin-right: 5px;
		}
/*mane content*/
		.nameContent h2{
			font-size: 20px;
			font-weight: normal;
		}
		.nameContent{
			padding: 5px 0;
		}
		.nameContent h2{
			font-weight: bold;
		}
/*bottom content*/
		hr{
		display: none;
		}
		.blockContent .bottomContent{
		display: flex;
		justify-content:space-around;
		vertical-align: center;
		text-align: center;	
		}	
	 
/*image EVENT*/
.imgContent img{
	width: 100%;
}	
/* .blockContent .imgContent{
	background: url("img/pics/logo2x2.png") no-repeat right 50px top 30px;
	background-size: 200px;
} */
/*RIGHT SECTION*/
.otherSide{display: none;}
.itemSection p{
	vertical-align: top;
	margin-left: 5px;
}

}
