/*FILTERS*/
	.filterMenu{
		display: flex;
		justify-content: space-between;
		white-space: nowrap; 
		align-items: center;
	}
	.filterBlock{
		display: flex;
		align-items: center;
	}
	.filterMenu ul{
		border: none;
		background: none;
	}
	.filterMenu ul:focus,
	.filterMenu ul:hover,
	.filterMenu ul:active{
		outline: none;
	}
	.filterMenu .iconArrow{
		width: 12px;
		height: 12px;
	}
	
	
/*LIST CONTENT*/
	.blockContent{
		display: flex;
		justify-content: space-between;
		height: 100px;
		margin-bottom: 30px;
	}
	.infoContent{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.infoContent strong,
	.filterBlock strong{
		vertical-align: top;
		margin: 0 5px;
	}
	/*date EVENT*/
	.dateContent strong{
		color: var(--color_red);		
	}		
/*name EVENT*/
	.nameContent a,
	.nameContent a:visited,
	.nameContent a:active{
		font-weight: bold;
		border-bottom: none;
		color: var(--color_blue)
	}

/*---DESKTOP---*/
@media (min-width: 1020px) and (max-width: 1450px){
/*FILTERS*/
		.filterMenu{
			margin-bottom: 40px;
		}
		
		/*modal*/
		.dateFilter .modal,
		.locFilter .modal,
		.categoryFilter .modal{
		display: none;
		}
		.modal .filterItem{
			padding: 5px 0;
		}
		/*categoryFilter*/
		.categoryFilter .filterContent{
			display: flex;		
		}
		.categoryFilter .filterContent li{
			margin-right: 20px;
		}
		/*locationFilter*/
		.locFilter .filterContent{
			display: flex;		
		}
		.locFilter .filterContent li{
			margin-right: 15px;
		}
		/*dateFilter*/
		.dateFilter .filterItem{
			font-size: 16px;
		}
		.dateFilter .seasonItem{
			padding: 18px;
			display: flex;
			justify-content: space-between;
		}
		.dateFilter .filterHeader{
			
		}

		

/*EVENT SECTION*/
	.eventSection{
		width: 600px;
	}
/*LIST EVENT*/
.eventContent{
	display: flex;
	justify-content: space-between;
	height: 90px;
	margin-bottom: 30px;
}
.descriptionContent{
	font-size: 12px;
}
/*image EVENT*/
.imgContent img{
	width: 150px;
	height: 100px;
}
/*RIGHT SECTION*/
.otherChapters{
	width: 250px;	
}
footer{
margin-top: 20px;
border-top: 3px solid var(--color_blue);
}	
}

/*---TABLET---*/
@media (min-width: 640px) and (max-width: 1020px){
	
	/*EVENT SECTION*/
	.eventSection{
		width: 500px;
	}
/*LIST EVENT*/
.eventContent{
	display: flex;
	justify-content: space-between;
	height: 90px;
	margin-bottom: 30px;
}
.descriptionContent{
	font-size: 12px;
}
/*image EVENT*/
.imgContent img{
	width: 150px;
	height: 100px;
}
/*RIGHT SECTION*/
.otherChapters{
	width: 200px;	

}
footer{
margin-top: 20px;
border-top: 3px solid var(--color_blue);
}	
}

/*---MOBILE---*/
@media (min-width: 320px) and (max-width: 640px){
/*FILTERS*/
	.filterMenu{
		margin-bottom: 40px;
	}
/*image EVENT*/
	.imgContent img{
		width: 120px;
		height: 80px;
	}

	.infoContent {
		width: 60%;
		overflow: hidden; 
		white-space: nowrap; 
		text-overflow: ellipsis; 
	}

}
