:root{
	--bg_lightgrey:#f0f0fa;
	--red: #991516;
	--blue: #193968;
	--lightblue: #193968c0;
	--black: #22344E;
	--grey:#999;
	--border_grey:#e2e2e2;
}
*{
	box-sizing: border-box;
	font-family: "Helvetica";	
	color: var(--blue);
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	letter-spacing: .015em;
	line-height: 25px;

}
* .icon{
	width: 16px;
	height: 16px;
}
/*MODAL*/
		.modal{
			position: fixed;
			background: #fff;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.082);
		}
		.modalClose{
			background: #fff;
			border: none;
		}
		.modalFilter{
			top: 135px;
			left: 50%;

			width: 610px;
			height: 300px;
			margin-left: -480px;
			padding: 10px 10px;
		}
		.modal .filterHeader{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}

/*HEADER*/
	.header{
		height: 70px;
		background-color: var(--blue);
	}
	.headerLogo svg{
		height: 50px;
		width: 200px;
		margin: 10px;
	}
/*RIGHT SECTION*/
		.otherSide{
			width: 250px;
		}
		.itemSection{
			margin-bottom: 50px;		
		} 
		.itemSection .item{
			display: flex;
			align-items: center;
		}
	/*top content*/
	.itemSection .contentRightside{
		width: 215px;
	}
	.itemSection .iconRightside{
		width: 35px;
	}
	/*quickNavigation*/
	.quickNavigation .item{
		margin-bottom: 15px;
	}
	.descriptionContent{
		font-size: 12px;
		line-height: 15px;
	}	
	.quickNavigation h2 strong{
	}
	.quickNavigation svg{
		fill:var(--border_grey);
		width: 22px;
		height: 22px;
	}
	.topContent svg{
		fill:var(--border_grey);
		width: 15px;
		height: 15px;
	}		


/*- DESKTOP -*/
@media (min-width: 1020px) and (max-width: 1450px){
	
	.container{
		font-size: 14px;
	}
	h2{
		font-size: 18px;
		font-weight: normal;
	}
/*HEADER*/
	.headerLogo{
		width: 930px;
		margin: 0 auto;
	}	
/*MAIN*/
	main{
		width: 900px;
		margin: 0 auto;
		padding: 40px 0;
		display: flex;
		justify-content: space-between;
	}
	.contentSection{
		width: 600px;
		
	}
	
	
}

/*- TABLET -*/
@media (min-width: 640px) and (max-width: 1020px){
	body{
		background: var(--bg_lightgrey);
	}
	.container{
		font-size: 17px;
	}
	h2{
		font-size: 20px;
		font-weight: bold;
	}
	/*HEADER*/
	.headerLogo{
		margin: 0 auto;
	}	
/*MAIN*/
	main{
		margin: 30px 10px;
		display: flex;
	}
	.contentSection{
		width: 60%;
	}	
	/*RIGHT SIDE*/
	.otherSide{
		width: 40%;
		font-size: 16px;
	}	
	.itemSection p{
		width: 95%;
		overflow: hidden; 
		white-space: nowrap; 
		text-overflow: ellipsis; 
	}
}

/*- MOBILE -*/
@media (min-width: 320px) and (max-width: 640px){
	body{
		background: var(--bg_lightgrey);
	}
	.container{
		font-size: 16px;
	}
	h2{
		font-size: 18px;
		font-weight: normal;
	}
	main{
		margin: 30px 5px;
	}
	/*RIGHT SECTION*/
	.otherSide{display: none;}
	.itemSection p{
		vertical-align: top;
		margin-left: 5px;
	}
}
