:root{
	--bg_lightgrey:#F8F8F7;
	--border_grey:#e2e2e2;
	--grey:#cfcfcf;
	--red: #FB4148;
	--blue: #1C2957;
	--mint: #F3F7FA;	
	--yellow: #F7C51E;	
}
*{
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif, Arial;	
	color: var(--blue);
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 25px;
}
body{
	background: var(--bg_lightgrey);
}	
* .icon{
	width: 16px;
	height: 16px;
	fill: var(--blue);
}
/*SPONSOR MOB*/
.sponsorLogoMob,
.sponsorLogoDesktop{
	display: none;
	align-items: center;
	padding: 20px 10px ;	
}
.sponsorLogoMob .sponsorIcon{
	fill:#E31E24;
	height: 45px;
	margin-right: 30px;
}
.sponsorLogoMob .sponsorContent{
	font-size: 14px;
}
.sponsorLogoMob .sponsorTitle{
	color: #E31E24;
	font-weight: bold;
}
/*SPONSOR DESCKTOP*/
.sponsorLogoDesktop .sponsorIcon{
	fill:#E31E24;
	height: 50px;
	margin-right: 20px;
}
 .sponsorIcon,
 .sponsorContent p{
	color: #E31E24;
	font-weight: bold;
}


/*MODAL*/
		.modal{
			position: fixed;
			background: #fff;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.082);
		}
		.modalClose{
			background: #fff;
			border: none;
		}
		.modalFilter{
			top: 135px;
			left: 50%;

			width: 610px;
			height: 300px;
			margin-left: -480px;
			padding: 10px 10px;
		}
		.modal .filterHeader{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}

	
/*- DESKTOP -*/
@media (min-width: 1020px) and (max-width: 1450px){	
	.container{
		font-size: 14px;		
	}
	.sponsorLogoMob{
		display: none;
	}
	/*HEADER*/
	header{
		display: flex;
		justify-content: space-between;		
		width: 100%;
		font-size: 14px;	
		background-color: var(--blue);
		padding: 15px 40px;
	}	
	.headerLogo svg{
		height: 45px;
		margin: 0 auto;
		width: 200px;
	}	
	.headerLogo{
		width: 200px;
		height: 100%;
	}
	.headerMenu{
		display: flex;
		justify-content: space-between;	
		width: 400px;	
		align-items: bottom;
		height: 100%;
		margin-top: 20px;
	}
	.headerMenu a,
	.headerMenu a:visited,
	.headerMenu a:active{
		border-bottom: none;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: .7px;	
}
	
	.locationContent svg{
		fill: var(--blue);
	}
	h2{
		font-size: 16px;
	}

/*MAIN*/
	main{
		width: 950px;
		margin: 0 auto;
		padding: 40px 0;
		display: flex;
		justify-content: space-between;
	}
	.contentSection{
		width: 600px;		
	}	
/*RIGHT SECTION*/
.otherSide{
	width: 300px;
	background-color: #fff;
}
.otherSide	.itemSection {
	padding: 10px 0 5px 0;
}
		.itemSection .item{
			display: flex;
			align-items: center;
			padding: 0 20px;
		}			
	/*quickNavigation*/
	.quickNavigation{
		margin-top: 10px;
	}
	.quickNavigation h2{
		margin: 0 20px 10px;
		text-align: center;
		background-color: var(--border_grey);
		border-radius:  20px;
	}
	.quickNavigation .item{
		margin-bottom: 15px;
	}
	.quickNavigation .descriptionContent{
		font-size: 12px;
		line-height: 15px;
		letter-spacing: .050em;
	}		
	.quickNavigation svg{
		fill:var(--grey);
		width: 18px;
		height: 18px;
	}			
}

/*- TABLET -*/
@media (min-width: 640px) and (max-width: 1020px){
	body{
		background: var(--bg_lightgrey);
	}
	.sponsorLogoMob{
		display: none;
	}	
	.sponsorContent{
		font-size: 14px;
	}
	.container{
		font-size: 17px;
	}
	h2{
		font-size: 20px;
		font-weight: bold;
	}
	/*HEADER*/
	header{
		display: flex;
		justify-content: space-between;		
		width: 100%;
		font-size: 14px;	
		background-color: var(--blue);
		padding: 15px 5px;
	}	
	.headerLogo svg{
		height: 45px;
		margin: 0 auto;
		width: 200px;
	}	
	.headerLogo{
		width: 200px;
		height: 100%;
	}
	.headerMenu{
		display: flex;
		justify-content: space-between;	
		width: 400px;	
		align-items: bottom;
		height: 100%;
		margin-top: 20px;
	}
	.headerMenu a,
	.headerMenu a:visited,
	.headerMenu a:active{
		border-bottom: none;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: .7px;	
}
/*MAIN*/
	main{
		margin: 30px 10px;
		display: flex;
	}
	.contentSection{
		width: 62%;
	}			
	
	/*RIGHT SECTION*/
.otherSide{
	width: 38%;
	font-size: 16px;
	min-width: 280px;
	background-color: #fff;

}
.otherSide	.itemSection {
	padding: 10px 0 5px 0;
}
		.itemSection .item{
			display: flex;
			align-items: center;
			padding: 0 20px;
		}	
		.itemSection p{
			width: 95%;
			overflow: hidden; 
			white-space: nowrap; 
			text-overflow: ellipsis; 
		}		
	/*quickNavigation*/
	.quickNavigation{
		margin-top: 10px;
	}
	.quickNavigation h2{
		margin: 0 20px 10px;
		text-align: center;
		background-color: var(--border_grey);
		border-radius:  20px;

	}
	.quickNavigation .item{
		margin-bottom: 15px;
	}
	.quickNavigation .descriptionContent{
		font-size: 12px;
		line-height: 15px;
		letter-spacing: .050em;
	}		
	.quickNavigation svg{
		fill:var(--grey);
		width: 18px;
		height: 18px;
	}
		
}

/*- MOBILE -*/
@media (min-width: 320px) and (max-width: 640px){
	.sponsorLogoDesktop{
		display: none;
	}
	header{
		width: 100%;
		font-size: 16px;	
		background-color: var(--blue);
		padding: 15px 10px;		
	}	
	.headerLogo svg{
		height: 45px;
		margin: 0 auto;
		width: 200px;
	}	
	.headerLogo{
		width: 200px;
		height: 60px;
		margin: 0 auto;
	}
	.headerMenu{
		display: flex;
		justify-content: space-between;				
	}
	.headerMenu a,
	.headerMenu a:visited,
	.headerMenu a:active{
		border-bottom: none;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: .7px;
}
.anotheHeaderItem{
	display: none;
}
.anotheHeaderIcon svg{
	fill: #fff;
}
}
